body{
    background:  	#c4c6c794;
    direction: rtl;
   }
#a1{
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: black;
    text-indent: 5me;
}
.a3{
    word-spacing: 50px;
}
#a2{
    margin-top: -9px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #90EE90;
}
#a4{

    background-color: #FFFFFF;
    font-size: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -20px;
    margin-right: 86%;
    padding-right:25px;
    padding-top: 15px;
    width: 150px;
    height: 45px;
    
}
#a5{
    background-color:#90EE90 ;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 98%;
    margin-top: -77px;
    width: 20px;
    height: 60.5px;
}
#a6{
    background-color: white;
    border-style: none;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 460px;
    padding-bottom: 200px;
    width: 600px;
    height: 363px;
}
#a7{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 75px;
}
#a8{
    width: 120px;
    margin-right: -10px;
    margin-top: 30px;
}
#a78{
    background-color: white;
    border-style: none;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 460px;
    padding-bottom: 200px;
    width: 600px;
    height: 363px;
}
#divartabat{
    background:#708090;
    height: 60px;
    margin-top: -60px;
    border-radius: 20px;
}
#artabattext{
    margin-top: 50px;
    margin-right: 5% ;
    font-size: 20px;
}
#shabake1{
    
    width: 50px;
    margin-top: 200px;
    margin-right: 105px;
}
#shabake1:hover{
    border: #90EE90;
    border-radius: 45%;
    border-width: 5px;
    border-style:inset;
    background-color: seagreen;
    
}
#shabake2{
    
    width: 55px;
    margin-bottom: 6px;
    margin-right: 105px;
}
#shabake2:hover{
    border: #90EE90;
    border-radius: 45%;
    border-width: 5px;
    border-style:inset;
    background-color: seagreen;
    
}
#shabake3{
    
    width: 50px;
    margin-top: 200px;
    margin-right: 105px;
}
#shabake3:hover{
    border: #90EE90;
    border-radius: 45%;
    border-width: 5px;
    border-style:inset;
    background-color: seagreen;
    
}